<div class="row">
  <div class="span8">
      <small>
        submitted <%= time_ago_in_words(comment.post.created_at) %> ago by 
        <%= comment.user.name %>
    </small>
    <p><%= markdown comment.body %></p>
  </div>
</div>

